@use "../abstracts/colors" as *;
@use "../abstracts/margins" as *;

.socials-wrapper {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  padding: 0;
  max-width: 15rem;
}

.socials-link-insta,
.socials-link-youtube {
  aspect-ratio: 1;
  border: 2px solid $black;
  border-radius: 0.5rem;
  width: 7rem;
}

@media screen and (max-width: 30rem) {
  .socials-wrapper {
    flex-direction: column;
  }
}
