@use "../abstracts/shadows" as s;
@use "../abstracts/colors" as c;
@use "../abstracts/margins" as m;
@use "../abstracts/transitions" as *;

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(0.8rem, 2vw, 1.25rem);
  max-width: m.$max-width * 1.2;
  margin: auto;
  padding-inline: m.$padding-medium;
  position: relative;
}

.title {
  font-size: clamp(1rem, 1.75vw, 1.5rem);
  padding-block: m.$padding-small;
  padding-inline: clamp(m.$padding-small, 1.75vw, m.$padding-medium);
  margin-inline: m.$margin-small;
  transform: translateY(35%);
  rotate: -1deg;
  width: max-content;
  text-align: center;
  white-space: nowrap;
}

.menu-active {
  position: static;
  display: inline-block;
  top: 0;
  right: 0;
}
.menu-small {
  cursor: pointer;
  display: none;
  margin-left: auto;
  z-index: 10;
}

.menu-small + * {
  transform: translateY(30%);
}

.logo {
  width: 5rem;
  min-width: 3rem;
}

.hidden {
  display: none;
}

.active {
  transform: scale(1.1);
}

.overflow {
  overflow: visible;
}

.hidden-small {
  display: inline-block;
}

.nav {
  margin-left: auto;
  &__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: black;
    word-wrap: normal;
    box-shadow: none;
    transition: transform $transition-dropdown;
    padding-inline: clamp(
      m.$padding-small * 1.2,
      2.1vw,
      m.$padding-medium * 0.9
    );
    width: max-content;
  }
}

.nav-paper[data-status="inactive"] {
  pointer-events: none;
}

@media screen and (max-width: 50rem) {
  .overflow {
    overflow: hidden;
  }

  .header__wrapper {
    justify-content: flex-end;
  }
  .nav {
    position: absolute;
    z-index: 10;
    height: 0;
    &__links {
      scale: 0.9;
      height: 0;
      margin-top: 2rem;
      z-index: 10;
    }
  }
  .overlay {
    position: fixed;
    height: 150vh;
    width: 110vw;
    z-index: 2;
    background-color: black;
    opacity: 0.15;
  }

  .menu-active {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
  }
  .nav-paper {
    margin-bottom: 0.5rem;
    position: absolute;
    top: 0;
    right: 50%;
    transition: transform $transition-dropdown;
  }
  .link-wrapper {
    display: none;
  }
  .menu-small {
    transform: translateY(30%);
    display: block;
    z-index: 11;
    font-size: 1rem;
  }
  .page-title {
    text-align: center;
  }

  .hidden-small {
    height: 0;
    overflow: hidden;
  }

  // @keyframes dropdown {
  //   from {
  //     height: 0;
  //   }
  //   to {
  //     height: 100vh;
  //   }
  // }

  @each $translate, $translation in m.$translations {
    .#{$translate} {
      transform: translateY(#{$translation});
      transition-delay: 0.2s;
    }
  }
}
