@use "../abstracts/margins" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/transitions" as *;

.more-info-section,
.pricelist-section {
  height: auto;
  overflow: hidden;
  top: 0;
  transition: height 1s forwards;
}
.more-info-section-hidden,
.pricelist-section-hidden {
  display: none;
}

.paper-price {
  &__list-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__category {
    display: grid;
    gap: 1rem;

    grid-template-columns: 1fr 1fr 1fr;
    & > * {
      padding: 0.25rem;
    }
  }
}

.print-info-section {
  display: flex;

  .section-text {
    flex: 3;
  }
}

.triggers-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  gap: 0.5rem;
}
#more-info-trigger,
#pricelist-trigger {
  cursor: pointer;
}

.product-options {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, 7.5rem);
  gap: 0.25rem;
  margin-inline: auto;
  justify-content: center;
}

.form-section > label {
  margin-block: 0.5rem;
  font-size: 1.1rem;
}

.form-section-drop > label {
  font-size: 1.1rem;
}

.productspecs {
  display: none;
}

.print-form {
  padding: clamp($padding-small, 3%, $padding-large);
}

.form-section {
  margin-block: $margin-small * 1.2;
  margin-inline: auto;
  padding-block: $padding-medium;
  padding-inline: clamp(0.5rem, 3%, 5rem);
  display: flex;
  flex-direction: column;
  width: clamp(15rem, 60vw, $form-width);
  max-width: $form-width;
  text-align: center;
}
.form-section-drop {
  margin-block: $margin-small * 1.2;
  margin-inline: auto;
  z-index: 20;
  display: flex;
  flex-direction: column;
  width: clamp(15rem, 60vw, $form-width * 0.6);

  text-align: center;
}

.form-section-general {
  width: clamp(20rem, 60vw, $form-width * 0.75);
}

.dropdown-content {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 0;

  transition: max-height 0.5s ease-in-out;
}

.dropdownbtn {
  padding-block: $padding-medium;
  padding-inline: clamp($padding-small, 3%, $padding-large);
  cursor: pointer;
  position: relative;
}

.dropdownbtn:hover .paperdropdown__arrow,
.dropdownbtn:focus-visible .paperdropdown__arrow {
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #000;
  filter: drop-shadow($downshadow-small $shadow-black);
}

.paperdropdown {
  height: 3rem;
  aspect-ratio: 3 / 1;
  display: block;

  margin: auto;
  margin-top: $margin-medium;
  border: 0.5px black solid;
  border-top: none;
  position: relative;
  pointer-events: none;
  box-shadow: $downshadow-small $shadow-black;

  &__arrow {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #000;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform-origin: center left;
  }
}
.inputbtn {
  position: absolute;
  z-index: -1;
  margin: $margin-small;
  transform: translateY(-100%);
  transition: transform $transition-dropdown;
}
.inputbtn {
  pointer-events: none;
}
.inputbtn[data-status="active"] {
  pointer-events: all;
}
.inputbtn[data-status="inactive"] {
  pointer-events: none;
}

.inputbtn .paper {
  width: max-content;
  text-align: center;
}

.show-dropdown {
  display: static;
}

@each $translate, $translation in $translations-form {
  .#{$translate} {
    transform: translateY(#{$translation});
    // transition-delay: 0.1s;
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
  }
}

@media screen and (max-width: 40rem) {
  .form-section {
    margin: auto;
  }
}

.product-options .paper {
  width: 100%;
  text-align: center;
  background-color: $pink;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25rem;
}

#remarks {
  margin-inline: auto;
  width: 80%;
  max-width: 80%;
}

.error-message {
  position: absolute;
  top: 5%;
  left: 10%;
  min-width: 20rem;
  width: 25%;
  resize: both;
  overflow: auto;
}

.error-message-intro {
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: $margin-small * 1.2;
}

.error-message-text {
  margin: $margin-small * 0.8;
}

.error-message-contact {
  margin: $margin-small * 0.8;
  word-break: break-all;
}

.error-message-remove,
.pricelist-message-remove {
  margin: $margin-small * 0.5;
  float: right;
  rotate: -1deg;
  transition: rotate 0.1s ease-in-out;
  cursor: pointer;
}

// .pricelist {
//   position: absolute;
//   top: 10%;
//   left: 25%;
//   min-width: 20rem;
//   width: 50%;
//   max-width: 50%;
//   resize: both;
//   overflow: auto;
// }

.list-of-prices {
  display: grid;
}

.pricelist-message-text {
  margin-top: $margin-large;
  display: block;
}

@media screen and (max-width: 960px) {
  .error-message {
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }
  .error-message-contact {
    word-break: initial;
  }
}

// CONFIRMATION PAGE
.error-page .wrapper,
.confirmation-page .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: $margin-small;
  margin-top: $margin-medium;

  & > * {
    max-width: 90%;
  }
}
