@use "../abstracts/margins" as m;
@use "../abstracts/transitions" as *;

.grid-wrapper-comrades {
  max-width: m.$max-width;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(m.$max-width * 0.4, 1fr));
  column-gap: 2rem;
  position: relative;
}

.grid-wrapper-comrades .section-text-wrapper {
  display: flex;
  flex-direction: column;
}

.comrade-name {
  margin-bottom: 0.5rem;
}

.comrade-text {
  margin-bottom: 0.5rem;
}

.comrade-button,
.distro-button {
  cursor: pointer;
  position: relative;

  & img {
    width: 5rem;
    aspect-ratio: 1;
    object-fit: contain;
  }
}

.comrade-link-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  translate: -50% 0;
  scale: 0;

  z-index: -1;
  width: 0;
}

.comrade-link {
  position: absolute;
  top: 25%;
  left: 50%;
  translate: -50% 0;

  z-index: -1;

  width: max-content;

  // transition: transform $transition-dropdown;
}
.distro-img {
  width: 2rem;
  object-fit: contain;
}

.comrade-link[data-status="active"] {
  z-index: 100;
  transform: translateY(100%);
  transition: transform 0.5s 0.5s;
}

.comrade-link-wrapper[data-status="open"] {
  transform: translateY(100%);
  width: 30rem;
  scale: 1;
  transition: transform 0.4s 0.5s, width 0.4s 0.5s;
  top: 25%;
  left: 50%;
  translate: -50% 0;

  z-index: 1;
}

.comrade-link-wrapper[data-status="closed"] {
  width: 0;
}

// @keyframes link-movement {
//   0% {
//     position: absolute;
//   }
//   50% {
//     position: static;
//   }
//   100% {
//     position: static;
//   }
// }

// @keyframes links-dropdown {
//   0% {
//     scale: 1;
//     z-index: -1;
//     width: 0;
//     opacity: 0;
//   }

//   14% {
//     opacity: 0;
//     width: 20rem;
//   }
//   15% {
//     scale: 1;

//     opacity: 1;
//     z-index: 1;
//   }

//   75% {
//     scale: 1;

//     opacity: 1;
//     transform: translateY(0%);
//   }

//   100% {
//     transform: translateY(100%);
//     scale: 1;
//     z-index: 10;
//     width: 30rem;
//   }
// }

@keyframes links-up {
  100% {
    scale: 0;
  }
  99% {
    scale: 1;
  }
  1% {
    z-index: -1;
  }
  0% {
    scale: 1;
  }
}

.comrade-button[data-status="open"]:hover {
  rotate: 0deg;
}

.comrade-button[data-status="closed"]:hover {
  rotate: 2deg;
}

.comrade-link[data-status="inactive"] {
  pointer-events: none;
}

@media screen and (max-width: m.$max-width) {
  .grid-wrapper-comrades {
    max-width: 90%;
  }

  .comrades-explanation {
    max-width: 90%;
  }
}
