@use "../abstracts/colors" as *;
@use "../abstracts/margins" as *;
@use "../abstracts/shadows" as *;

.footer {
  &__wrapper {
    display: grid;
    grid-template-areas:
      "sitemap socials logo"
      "sitemap email email"
      "list list list";
    justify-items: center;
    align-items: center;
    font-size: clamp(1rem, 1rem + 0.5vw, 1.25rem);
    max-width: $max-width * 1.2;
    margin: auto;
    padding-inline: $padding-medium;
    position: relative;
  }

  &__sub {
    font-size: 0.9rem;
    margin: $margin-small;
    border: 2px solid $black;
    transition: rotate 0.4s 0.1s;
  }

  &__sub a {
    display: block;
  }
  &__sub a:hover {
    text-decoration: underline;
  }
  &__sitemap {
    grid-area: sitemap;
    padding-inline: $padding-medium * 1.2;
  }
  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: socials;
  }
  &__socials img {
    height: 2rem;
    aspect-ratio: 1;
  }

  &__logo {
    grid-area: logo;
  }

  &__email {
    grid-area: email;
    font-size: 1.25rem;
    text-align: center;
    width: max-content;
    justify-self: start;
    transform: translateX(clamp(0rem, -3vw, -2rem));
  }
  &__listform {
    grid-area: list;

    & label {
      font-size: 1rem;
      margin-top: 0.25rem;
      margin-right: 0.25rem;
      display: inline-block;
      min-width: 5rem;
    }

    & input::placeholder {
      font-size: 1rem;
    }
  }

  .maillist {
    font-size: 1.1rem;
  }

  .maillist-aside {
    font-size: 0.75rem;
  }

  #name-maillist,
  #mail-maillist {
    width: 20rem;
    padding: $padding-small * 0.5 $padding-small * 0.25;
  }
  & .maillist__button {
    justify-self: center;
    align-self: start;
    margin: $margin-small * 0.5;
  }
}

.maillist-inputs {
  display: flex;
  gap: $padding-small;
  flex-direction: column;
  flex-wrap: wrap;
  margin: $margin-small * 0.5;
}

.maillist__inputwrapper {
  display: inline-block;
}

@media screen and (max-width: 35rem) {
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__email {
    margin-top: $margin-medium;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
