$blue: #a2befc;
$pink: #fda4ed;
$white: #f5f5f5;
$red: #ff8080;
$yellow: #fffda0;
$green: #c9fab2;
$cyan: #8ef7ff;
$purple: #b08eff;

$black: #000;

$paper-colors: (
  "blue": $blue,
  "pink": $pink,
  "white": $white,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "cyan": $cyan,
  "purple": $purple,
  "transparent": transparent,
);

$shadow-black: rgba(0, 0, 0, 0.4);
