@use "../abstracts/margins" as *;

.socials-wrapper-home .socials-link-youtube {
  width: 4rem;
  padding: $padding-small * 0.5;
}

@media (max-width: 800px) {
  .socials-wrapper-home .socials-link-youtube {
    width: 6rem;
  }
}
