$max-width: 67.5rem;

$form-width: 50rem;

// padding

$padding-small: 0.75rem;
$padding-medium: 2rem;
$padding-large: 5rem;

$margin-small: 0.75rem;
$margin-medium: 2rem;
$margin-large: 5rem;

$translations: (
  translate-1: 110%,
  translate-2: 220%,
  translate-3: 330%,
  translate-4: 440%,
  translate-5: 550%,
  translate-6: 660%,
);

$translations-form: (
  translate-form-1: 0%,
  translate-form-2: 100%,
  translate-form-3: 200%,
  translate-form-4: 300%,
  translate-form-5: 400%,
  translate-form-6: 500%,
  translate-form-7: 600%,
);

.flip-vertical {
  rotate: 180deg;
}
