@use "../abstracts/colors" as *;

// RADIO
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid black;
  position: relative;
}
input[type="radio"]::before {
  content: url("../../../src/assets/images/svg/checkmark.svg");
  position: absolute;
  top: -85%;
  left: -50%;
  height: 1rem;
  width: 1rem;
  display: block;
  transition: 0.1s scale ease-in-out;
  // box-shadow: inset 1em 1em $blue;
  z-index: 1000;
  scale: 0;
}

input[type="radio"]:checked::before {
  scale: 1;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="file"] {
  width: 40ch;
  max-width: 50%;
  margin: auto;
}

// INPUT FOCUS
input:focus-visible {
  outline-color: $pink;
  outline-width: 2px;
  outline-style: solid;
}
